body {
    display:grid;
    gap:10px;
}

header {
    height:100px;
    color: #a10e2f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header>img {
    height:100%;
    width:auto;
    transition: transform 2s;
}

header>img:hover {
    transform:rotate(0.5turn);
}

header>p {
    margin:0px;
}

nav {
    background-color: #a10e2f;
    color:white;
}

menu {
    margin: 0px;
}

menu, menu>li>ul {
    display: flex;
    list-style-type : none;
}

menu>li {
    padding: 5px;
    position: relative;
}

menu>li>ul {
    flex-direction: column;
    padding: 5px;
    position: absolute;
    background-color: #a10e2f;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}

menu>li>ul>li {
    width:max-content;
    margin: 5px;
}

menu>li:hover>ul {
    visibility: visible;
    opacity: 1;
}

footer {
    background-color: #a10e2f;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>img {
    height:30px;
    width:auto;
}

main {
    display:grid;
}

article>h1 {
    color:#a10e2f;
    border-left:double;
    padding:5px;
}

article>p {
    text-align: justify;
    transition: background-color 2s;
}

article>p:hover {
    background-color: #f7f2ef;
}
