body {
    grid-template-rows: 100px auto auto 50px;
}

header>p {
    font-size: 4vw;
    font-weight: 500;
}

menu {
    justify-content: space-evenly;
    flex-direction: row;
}

.menu-reversed {
    flex-direction: row-reverse;
}

menu>li>ul {
    top:1.5em;
    left:-5px;
}

main {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}